body {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  background-color: #f4e6ff;
  font-family: fantasy;
}

h1 {
  text-align: center
}

h2 {

}

p {
    background-color: white;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 2%;
    text-indent: inherit;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

#description {
  text-align: center;
}

#projects {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right 2%;
}

#links {
  padding-left: 10%;
  font-family: monospace;
  font-size: 10px;
}

#copyright {
    background-color: #f4e6ff;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 0;
    font-size: 75%;
}
