body {
  background-color: #f4e6ff;
}

h1 {
  text-align: center
}

h2 {

}

#links {
  background-color: white;
  padding-left: 10%;
  text-align: left;
  font-size: 10 px;
}

#copyright {
    text-align: center;
    font-size: 10 px;
    font-weight: bold;
}
