body {
  background-color: #f4e6ff;
}

h1 {
  text-align: center
}

h2 {

}

ul {
  border-color: black;
  list-style-type: circle;
  list-style-position: inside;
}

#id {
  font-family: fantasy;
}

#links {
  background-color: white;
  padding-left: 10%;
  text-align: left;
  font-family: monospace;
  font-size: 10 px;
}

#copyright {
    text-align: center;
    font-size: 10 px;
    font-weight: bold;
}
